@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap'); */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  &:before {
    content: '';
    content: '';
    width: 100%;
    height: 100vh;
    //background: linear-gradient(to right bottom, #6d327c, #485DA6, #00a1ba, #01b18e, #32b37b);
    // background: #D3D3D3;
    background-image: url('../public/bg.jpg');
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.text-shadow {
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;
  }
  &:hover {
    & .arrow-btn {
      width: 60px;
    }
  }
}

.react-multi-carousel-list {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;
    &:hover {
      width: 60px;
    }
  }
}

a {
  color: #db2777;
  text-decoration: none;
  font-weight: bold;
}
h1,
h2,
h3 {
  font-weight: bold;
  color: #db2777;
  a {
    color: #db2777;
    text-decoration: none;
    font-weight: bold;
  }
}
* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montsserat/Montserrat-ExtraBold.woff2') format('woff2'),
    url('/fonts/montsserat/Montserrat-ExtraBold.woff') format('woff'),
    url('/fonts/montsserat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montsserat/Montserrat-Black.woff2') format('woff2'),
    url('/fonts/montsserat/Montserrat-Black.woff') format('woff'),
    url('/fonts/montsserat/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montsserat/Montserrat-BlackItalic.woff2') format('woff2'),
    url('/fonts/montsserat/Montserrat-BlackItalic.woff') format('woff'),
    url('/fonts/montsserat/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montsserat/Montserrat-Bold.woff2') format('woff2'),
    url('/fonts/montsserat/Montserrat-Bold.woff') format('woff'),
    url('/fonts/montsserat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montsserat/Montserrat-BoldItalic.woff2') format('woff2'),
    url('/fonts/montsserat/Montserrat-BoldItalic.woff') format('woff'),
    url('/fonts/montsserat/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montsserat/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
    url('/fonts/montsserat/Montserrat-ExtraBoldItalic.woff') format('woff'),
    url('/fonts/montsserat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montsserat/Montserrat-MediumItalic.woff2') format('woff2'),
    url('/fonts/montsserat/Montserrat-MediumItalic.woff') format('woff'),
    url('/fonts/montsserat/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montsserat/Montserrat-Regular.woff2') format('woff2'),
    url('/fonts/montsserat/Montserrat-Regular.woff') format('woff'),
    url('/fonts/montsserat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montsserat/Montserrat-Italic.woff2') format('woff2'),
    url('/fonts/montsserat/Montserrat-Italic.woff') format('woff'),
    url('/fonts/montsserat/Montserrat-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montsserat/Montserrat-Light.woff2') format('woff2'),
    url('/fonts/montsserat/Montserrat-Light.woff') format('woff'),
    url('/fonts/montsserat/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montsserat/Montserrat-LightItalic.woff2') format('woff2'),
    url('/fonts/montsserat/Montserrat-LightItalic.woff') format('woff'),
    url('/fonts/montsserat/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montsserat/Montserrat-ExtraLightItalic.woff2')
      format('woff2'),
    url('/fonts/montsserat/Montserrat-ExtraLightItalic.woff') format('woff'),
    url('/fonts/montsserat/Montserrat-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montsserat/Montserrat-Medium.woff2') format('woff2'),
    url('/fonts/montsserat/Montserrat-Medium.woff') format('woff'),
    url('/fonts/montsserat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montsserat/Montserrat-ExtraLight.woff2') format('woff2'),
    url('/fonts/montsserat/Montserrat-ExtraLight.woff') format('woff'),
    url('/fonts/montsserat/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montsserat/Montserrat-ThinItalic.woff2') format('woff2'),
    url('/fonts/montsserat/Montserrat-ThinItalic.woff') format('woff'),
    url('/fonts/montsserat/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montsserat/Montserrat-SemiBold.woff2') format('woff2'),
    url('/fonts/montsserat/Montserrat-SemiBold.woff') format('woff'),
    url('/fonts/montsserat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '/fonts/montsserat/Montserrat';
  src: url('/fonts/montsserat/Montserrat-Thin.woff2') format('woff2'),
    url('/fonts/montsserat/Montserrat-Thin.woff') format('woff'),
    url('/fonts/montsserat/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montsserat/Montserrat-SemiBoldItalic.woff2') format('woff2'),
    url('/fonts/montsserat/Montserrat-SemiBoldItalic.woff') format('woff'),
    url('/fonts/montsserat/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
